[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygeoapi = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"
pandas = "*"
openpyxl = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
